body {
  padding-top:      50px;
  background-color: #eee;
}
.starter-template {
  padding:         40px 15px;
  text-align:      left;
}

.paint_tool{
  width:            500px;
  height:           800px;
  background-color: #FFFFFF;
  border:           2px solid #FFA500;
  margin-top:       30px;
}

.pdf{
  width:            600px;
  height:           800px;
  border:           2px solid #FFA500;
  margin-top:       30px;
}
