.calendar{
  font-family:    fantasy;
  text-align:     center;
  font-size:      30px;
  font-style:     bold;
  color:          orange;
  margin-top:     50px;
}

.tasks{
  font-family:    fantasy;
  text-align:     center;
  font-size:      30px;
  font-style:     bold;
  color:          green;
}

.drive{
  font-family:    fantasy;
  text-align:     center;
  font-size:      30px;
  font-style:     bold;
  color:          red;
}

.frame{
  color:          blue;
}

/*
.lectures{
  font-family:    fantasy;
  text-align:     center;
  font-size:      30px;
  font-style:     bold;
  color:          orange;
}

.drive{
  font-family:    fantasy;
  text-align:     center;
  font-size:      30px;
  font-style:     bold;
  color:          green;
}
*/


.top-buffer{ 
margin-top:       50px; 
}


