<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/tab_logo.gif">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/home.css" rel="stylesheet">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ORGI</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#note_taking">Home</a></li>
          </ul>
        </div> <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container"> 
     
      <div class="row top-buffer"> 
        <div class="col-md-12">
          <div class="calendar">  
            <p>Your Calendar</p>
            <iframe src="https://www.google.com/calendar/embed?src=ucdconnect.ie_karcmdfn3gmqufjuel0lvenpng%40group.calendar.google.com&ctz=Europe/Dublin" style="border: 2" width="1200" height="500" frameborder="0" scrolling="no"></iframe>
            <p><a class="btn btn-primary" href="https://www.google.com/calendar/render?cid=ucdconnect.ie_karcmdfn3gmqufjuel0lvenpng@group.calendar.google.com#main_7" role="button">Open Calendar &raquo;</a></p>
          </div>
        </div><!--/.col-md-12-->
      </div>
        
      <div class="row top-buffer">
	<div class="col-md-6">
          <div class="tasks">  
            <p>Your Tasks<p>
            <iframe src="https://www.google.com" style="border: 2" width="450" height="400"></iframe>
            <p><a class="btn btn-danger" href="#" role="button">Open Tasks &raquo;</a></p>
          </div>
        </div><!--/.col-md-6-->


        <div class="col-md-6">
          <div class="lectures">  
            <p>Your Day's Lectures<p>
            <iframe src="https://www.facebook.com" style="border: 2" width="450" height="400"></iframe>
            <p><a class="btn btn-warning" href="#" role="button">Open Lecture List &raquo;</a></p>
          </div>
        </div><!--/.col-md-6-->

      </div>

      <div class="row top-buffer">

        <div class="col-md-6">
          <div class="forums">  
            <p>Your Forum<p>
            <iframe src="https://www.facebook.com" style="border: 2" width="450" height="400"></iframe>
            <p><a class="btn btn-info" href="#" role="button">Open Forums &raquo;</a></p>
          </div>
        </div><!--/.col-md-6-->


        <div class="col-md-6">
          <div class="drive">  
            <p>Your Google Drive<p>
            <iframe src="https://www.facebook.com" style="border: 2" width="450" height="400"></iframe>
            <p><a class="btn btn-success" href="#" role="button">Open Drive &raquo;</a></p>
          </div>
        </div><!--/.col-md-6-->
   
      </div>  

        
    </div> <!-- /.container -->


   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  
  </body>
</html>
