<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>Test</title>
 
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 
    <script type="text/javascript" src="../js/paint_tool.js"></script>  
   
</head>
 
<body>
   <h1>Canvas test</h1>
 
   <div id="canvasDiv">
      <!-- It's bad practice (to me) to put your CSS here.  I'd recommend the use of a CSS file! -->
      <canvas id="canvasSignature" width="1000px" height="1000px" style="border:2px solid #000000;"></canvas>
   </div>
</body>
</html> 
