<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Beano's Thing</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <style type="text/css">
      .task-status {
      font-size: 2em;
      }
    </style>

    <script type="text/javascript" src="{{ url_for('static', filename='js/to_do.js')}}"></script>

  </head>
  <body>
    
    <div class="container">
      
      <table id="thetable" class="table table-striped">
	<tr>
	  <th>ID</th>
	  <th>Title</th>
	  <th>Description</th>
	  <th>Done?</th>
	</tr>
      </table>

      
      <!-- the form action, and form method are redundant now, since we do the submission in javascript -->
      <form class="form-horizontal" role="form" action="#" method="POST">

	<div class="form-group">
	  <label for="name">Title</label>
	  <input type="text" class="form-control" id="title" name="title" placeholder="Enter title"/>
	</div>

	<div class="form-group">
	  <label for="number">Description:</label>
	  <textarea placeholder="Enter description" class="form-control" id="description" name="description"></textarea>
	</div>

	<!-- You'll need to add id="addbutton" to your form -->
	<button id="addbutton" type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>

  </body>
</html>
